:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --rgb-highlight: 74, 239, 152; /* The main highlight color */
  --rgb-background: 36, 40, 59; /* The main background color */
  --rgb-text: 74, 239, 152; /* The color (almost) all text should use */
  --rgb-close-button: 212, 18, 39; /* The main "close this" or "deny" color */
  --rgb-online-color: 57, 255, 20; /* The color used in the "online" user status symbol */
  --rgb-afk-color: 255, 255, 51; /* The color used in the "idle" user status symbol */
  --rgb-dnd-color: 255, 0, 0; /* The color used in the "do not disturb" user status symbol */
  --rgb-streaming-color: 188, 19, 254; /* The color used in the "streaming X" user status symbol */
}