* {
  font-family: JetbrainsMono;
  background: transparent;
  color: #c0caf5;
}

#text{
  color: #c0caf5;
}

#window {
  color: #c0caf5;
  border-color: #9aa5ce;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-color: rgba(36, 40, 59, 0.8); 
  border-radius: 0px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #9aa5ce;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #9aa5ce;
  color: #c0caf5;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 0px;
}

#entry:selected {
  background: #24283b;
  font-weight: bold;
  outline: none;
}

#input {
  color: #c0caf5;
  border-color: #9aa5ce;
  border-style: none;
  border-width: 1px;
  font-style: normal;
  border-radius: 0;
  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #24283b;
  background-color: #24283b;
  border-color: #9aa5ce;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
